<?xml version="1.0" encoding="utf-8"?>
<odoo>

        <menuitem id="menu_management_system"
          name="Sales Quotations"/>

        <menuitem id="menu_quotation_sales"
          name="Manage Sales"
          parent="menu_management_system"
          sequence="10"/>

        <menuitem id="menu_management_system_sales"
          name="Quotation Sales"
          parent="menu_quotation_sales"
          action="action_management_sales"
          sequence="10"/>

</odoo>
